brotli
cryptography
Cython
dataclasses
flake8
importlib_metadata
ipaddr
keyring
lockfile
lxml
matplotlib
mock
mypy_extensions
numpy
ordereddict
pandas
pip_api
popart
protobuf
pyenchant
pylama
pyOpenSSL
pytest
requirementslib
scipy
seaborn
simplejson
tensorflow
torch
tqdm
typed_ast
typing_extensions
wincertstore
zipp
